:root{
    --mag-background: #22a7f0;
    --btn-hover: #1e8bc3;
    --btn-hover-dark: #095175;
    --admin-btn-delete: #d24d57;
    --admin-btn-delete-hover: #9b313a;
    --admin-btn-edit: #22a7f0;
    --admin-btn-edit-hover: #60bcee;
    --index-stock-epuizat: #d64541;
}
